<!-- accordion -->
<div th:fragment="acordeon" class="my-2 acordeonPadre" id="acordeon">

    <h3 class="bordeTitulo my-2">Preguntas frecuentes</h3>

    <!-- ACORDEON ONE -->
    <div class=" acordeon">
        <div class=" acordeonHeader" id="headingOne">
            <button class=" acordeonBoton" type="button" data-bs-toggle="collapse" 
                    data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                LOREM IPSUN DOLOR 1
            </button>
        </div>

        <div class="accordion-collapse collapse acordeonBody" id="collapseOne" aria-labelledby="headingOne" 
             data-bs-parent="#acordeon">
            <div class="accordion-body">
                <strong>
                    Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. 
                    Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500, 
                    cuando un impresor (N. del T. 
                </strong>
            </div>
        </div>
    </div>

    <!-- ACORDEON TWO -->
    <div class=" acordeon">
        <div class=" acordeonHeader" id="headingTwo">
            <button class=" acordeonBoton" type="button" data-bs-toggle="collapse" 
                    data-bs-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                LOREM IPSUN DOLOR 2
            </button>
        </div>

        <div class="accordion-collapse collapse acordeonBody" id="collapseTwo" aria-labelledby="headingTwo" 
             data-bs-parent="#acordeon">
            <div class="accordion-body">
                <strong>
                    Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. 
                    Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500, 
                    cuando un impresor (N. del T. 
                </strong>
            </div>
        </div>
    </div>

    <!-- ACORDEON THREE -->
    <div class=" acordeon">
        <div class=" acordeonHeader" id="headingThree">
            <button class=" acordeonBoton" type="button" data-bs-toggle="collapse" 
                    data-bs-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                LOREM IPSUN DOLOR 3
            </button>
        </div>

        <div class="accordion-collapse collapse acordeonBody" id="collapseThree" aria-labelledby="headingThree" 
             data-bs-parent="#acordeon">
            <div class="accordion-body">
                <strong>
                    Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. 
                    Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500, 
                    cuando un impresor (N. del T. 
                </strong>
            </div>
        </div>
    </div>

    <!-- ACORDEON FOUR -->
    <div class=" acordeon">
        <div class=" acordeonHeader" id="headingFour">
            <button class=" acordeonBoton" type="button" data-bs-toggle="collapse" 
                    data-bs-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
                LOREM IPSUN DOLOR 4
            </button>
        </div>

        <div class="accordion-collapse collapse acordeonBody" id="collapseFour" aria-labelledby="headingFour" 
             data-bs-parent="#acordeon">
            <div class="accordion-body">
                <strong>
                    Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. 
                    Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500, 
                    cuando un impresor (N. del T. 
                </strong>
            </div>
        </div>
    </div>

    <!-- ACORDEON FIVE -->
    <div class=" acordeon">
        <!-- accordion-header -->
        <div class=" acordeonHeader" id="headingFive">
            <!-- accordion-button -->
            <button class=" acordeonBoton" type="button" data-bs-toggle="collapse" 
                    data-bs-target="#collapseFive" aria-expanded="true" aria-controls="collapseFive">
                LOREM IPSUN DOLOR 5
            </button>
        </div>

        <div class="accordion-collapse collapse acordeonBody" id="collapseFive" aria-labelledby="headingFive" 
             data-bs-parent="#acordeon">
            <div class="accordion-body">
                <strong>
                    Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. 
                    Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500, 
                    cuando un impresor (N. del T. 
                </strong>
            </div>
        </div>
    </div>
</div>