<!DOCTYPE html>
<html lang="en" xmlns:th="http:www.thymeleaf.org">
<head th:replace="~{fragments/head :: head(Actividades)}"></head>
<body>

    <nav th:replace="~{fragments/nav :: nav_bar}"></nav>
    <nav th:replace="~{fragments/navUsuarios :: nav_bar_usuarios}"></nav>

    <main class="mx-5 my-2">
        
        <form th:action="@{/servicios/actividades/add/}+ ${actividad.id}" th:object="${actividad}" method="POST" id="formulario">
            <div id="mensajeError"></div>

            <div class="form-group">
                <label for="actividadNombre">Nombre</label>
                <input type="text" th:field="*{nombre}" id="actividadNombre" class="form-control" placeholder="Introduzca el nombre de la actividad" required>
            </div>

            <div class="form-group">
                <label for="actividadesFecha">Fecha</label>
                <input type="date" th:field="*{fecha}" id="actividadFecha" class="form-control" required>
            </div>

            <div class="form-group">
                <label for="actividadUbicacion">Ubicación</label>
                <input type="text" th:field="*{ubicacion}" id="actividadUbicacion" class="form-control" placeholder="Introduzca la ubicación" required>
            </div>

            <div class="row g-2">
                <div class="form-group col">
                    <label for="actividadUsuarios">Usuarios</label>
                    <input type="number" th:field="*{usuarios}" id="actividadUsuarios" class="form-control" placeholder="Introduzca el número de Usuarios" required>
                </div>
    
                <div class="form-group col">
                    <label for="actividadesVoluntarios">Voluntarios</label>
                    <input type="number" th:field="*{voluntarios}" id="actividadVoluntarios" class="form-control" placeholder="Introduzca el número de Voluntarios" required>
                </div>
            </div>

            <div class="d-grid my-2">
                <button type="submit" class="colorBorde colorTexto botonEnviar col-12 my-2" id="btnEnviar" disabled>
                    <i class="fa-sharp fa-solid fa-share-from-square"></i>
                    Enviar
                </button>
            </div>
            
        </form>

    </main>

    <footer th:replace="~{fragments/footer :: footer}"></footer>

    <script th:src="@{/js/scriptFooter.js}"></script>
    <script th:src="@{/js/validacionesAdd/scriptValidacionesActividadesAdd.js}" type="module"></script>
    
</body>
</html>