<!DOCTYPE html>
<html lang="en" xmlns:th="http:www.thymeleaf.org">
<head th:replace="~{fragments/head :: head(Programas)}"></head>
<body>

    <nav th:replace="~{fragments/nav :: nav_bar}"></nav>

    <main class="mx-5 my-2">
        <h3 class="bordeTitulo">Programas</h3>
 
        <p class="sangria">
            Desde nuestros inicios en el año 1998, hemos creado numerosos programas. Estos programas tenian como único 
            objetivo mejorar la calidad de vida de las personas con algún tipo de discapacidad o de movilidad reducida.
            Estos programas no solo estaban dirigidos a las personas con discapacidad si no también para sus familiares, 
            proporcionandoles apoyo, ayuda, formación... 
        </p>
        
        <h4 class="bordeTitulo">Estos son algunos de nuestros programas:</h4>

        <ul class="sangria">
            <li>
                <span class="negritaADAS">OCIO, TIEMPO LIBRE Y VOLUNTARIADO</span>
                <dd class="sangria">
                    <dl>
                        <dt>Objetivos: </dt>
                            <dd class="sangria">
                                El objetivo del programa es la vivencia satisfactoria del tiempo libre de las Personas con 
                                Discapacidad Intelectual, lo que significa la toma de conciencia de la vivencia personal de 
                                ocio y el desarrollo de habilidades y destrezas para poder realizar las actividades elegidas
                                libremente en función de sus preferencias y sus aficiones. Es uno de los Programas que la 
                                Asociación considera prioritario. <br>
                                En nuestro programa de Ocio y Tiempo Libre el voluntariado tiene un papel clave, ya que toma
                                parte de la filosofia de transformación social que tienen las Asociaciones. A través de su
                                acción, el voluntariado realiza aprendizajes sociales: 
                                <ul>
                                    <li>Conoce la realidad de las personas con Discapacidad.</li>
                                    <li>Vive con ellas sus dificultades y progresos.</li>
                                    <li>Comparte e intercambia opiniones, sentimientos...</li>
                                </ul>
                            </dd>

                        <dt>Actividades: </dt>
                            <dd>
                                <ol>
                                    <li>Curso formación voluntariado.</li>
                                    <li>
                                        Actividades de Ocio y Tiempo Libre con un grupo de 3/4 Personas del Piso Tutelado para 
                                        Personas con Discapacidad Intelectual de Cruz Roja en Oviedo.
                                    </li>
                                    <li>Actividades de Ocio y Tiempo Libre con un grupo de 8/10 Personas con Discapacidad Intelectual.</li>
                                    <li>Actividades de finde de semana, pudiendo ser estancia en Albergue en Asturias o un viaje fuera.</li>
                                    <li>Evaluación del desarrollo del Programa por parte de <span class="negritaADAS">ADAS</span></li>
                                    <li>Captación de nuevos voluntarios</li>
                                    <li>
                                        Acto con los voluntarios de <span class="negritaADAS">ADAS</span>  para conmemorar el Dia
                                        Internacional del Voluntariado
                                    </li>
                                </ol>
                            </dd>
                    </dl>
                </dd>
            </li>
            <li>
                <span class="negritaADAS">INFORMACIÓN, ORIENTACIÓN, ASESORAMIENTO Y APOYO A PERSONAS CON DISCAPACIDAD Y A SUS FAMILIAR</span>
                <dd class="sangria">
                    <dl>
                        <dt>Objetivo: </dt>
                            <dd class="sangria">
                                El objetivo es mejorar la calidad de vida, asi como a todas aquellas personas y/o profesionales que estén 
                                implicados en la atención de las Personas con Discapacidad y sus Familias a lo largo de su vida.
                            </dd>
                        
                        <dt>Actividades:</dt>
                            <dd>
                                <ol>
                                    <li>
                                        Entrevistas individuales de Orientación, Asesoramiento y Apoyo a personas; se abarcan los
                                        siguientes ámbitos:
                                        <ul>
                                            <li>Psicológico.</li>
                                            <li>Cuestiones escolares.</li>
                                            <li>Cuestiones laborales.</li>
                                            <li>Prestaciones sociales.</li>
                                            <li>Cuestiones jurídicas.</li>
                                        </ul>
                                    </li>
                                    <li>
                                        Entrevistas individuales de Orientación, Asesoramiento y Apoyo a padres, madres y familiares,
                                        en aquellas cuestiones que a lo largo de la vida de una persona con discapacidad ocasiona dudas 
                                        o conflictos; se abarcan los siguientes ámbitos:
                                        <ul>
                                            <li>Psicológico.</li>
                                            <li>Cuestiones escolares.</li>
                                            <li>Prestaciones sociales.</li>
                                            <li>Cuestiones jurídicas.</li>
                                        </ul> 
                                    </li>
                                    <li>Servicio de atención psicológica.</li>
                                </ol>
                            </dd>
                    </dl>
                </dd>
            </li>
            <li>
                <span class="negritaADAS">SERVICIO DE INTERMEDIACIÓN LABORAL</span>
                <dd class="sangria">
                    <dl>
                        <dt>
                            <dd>
                                Este programa va dirigido a personas con discapacidad, especialmente aquellas con más necesidades de apoyo,
                                que requieran Información, Orientación, Asesoramiento y Apoyo en el proceso de búsqueda de empleo
                            </dd>
                        </dt>
                        
                        <dt>Actividades:</dt>
                            <dd>
                                <ul>
                                    <li>Entrevistas individuales.</li>
                                    <li>
                                        Apoyo en las actividades necesarias para que la persona con discapacidad pueda entrar en el 
                                        mercado de trabajo. Estas van desde el apoyo para la elaboración del CV, acompañamiento a 
                                        entrevistas en empresa...
                                    </li>
                                    <li>
                                        Apoyo emocional al estrés generado por su situación de desempleo o nueva incorporación al puesto
                                        de trabajo.
                                    </li>
                                    <li>Apoyo en su incorporación al puesto de trabajo.</li>
                                    <li>Elaboración de bases de datos según perfiles profesionales.</li>
                                    <li>Prospección laboral.</li>
                                    <li>Visitas a empresas.</li>
                                </ul>
                            </dd>
                    </dl>
                </dd>
            </li>
            <li>
                <span class="negritaADAS">SERVICIOS DE TRANSPORTE ESPECIAL</span>
                <dd class="sangria">
                    <dl>
                        <dt>
                            <dd>
                                Es un programa totalmente altruista dirigido a personas individuales, entidades públicas o privadas para 
                                el desplazamiento de personas con movilidad reducida y escasos recursos económicos para poder pagarse un 
                                servicio privado. Este programa se realizara con un vehículo adaptado propiedad de la Asociación en el cual
                                el conductor sera un voluntario de la entidad.
                            </dd>
                        </dt>
                    </dl>
                </dd>
            </li>
            <li>
                <span class="negritaADAS">FORMACIÓN EN ELEMENTOS DE SEGURIDAD PASIVA DE LOS VEHICULOS ADAPTADOS E INTERACCIÓN CON PERSONAS CON DISCAPACIDAD</span>
                <dd class="sangria">
                    <dl>
                        <dt>
                            <dd>
                                Su principal objetivo es formar a personas las cuales estan implicadas en el transporte de personas con 
                                discapacidad o con movilidad reducida. Este programa es uno de los más importantes ya que desde sus origines 
                                <span class="negritaADAS">ADAS</span> ha tenido especial atención en todo lo relacionado con la Accesibilidad
                                en el Transporte, fiel a esta idea se colabora con entidades o empresas en la formación de profesionales.
                            </dd>
                        </dt>
                            
                    </dl>
                </dd>
            </li>
        </ul>

    </main>

    <footer th:replace="~{fragments/footer :: footer}"></footer>

    <script th:src="@{/js/scriptFooter.js}"></script>
    
</body>
</html>